.navbar-brand {
  width: 100px;
  text-decoration: none;
  color: var(--fourth-color);
}

.navbar {
  background-color: #000000;
  color: var(--fourth-color);
}

a {
  color: var(--fourth-color);
}

.nav-link {
  font-family: "Ubuntu", sans-serif;
}

.button {
  background-color: var(--second-color);
  border-radius: 30px;
  border: none;
  text-align: center;
}

.button a {
  color: var(--fourth-color);
}
