.sign-up {
  background-color: var(--second-color);
  border-radius: 30px;
  font-size: 1.1rem;
  border: none;
  color: var(--fourth-color);
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}

.sign-up-header {
  color: var(--second-color);
  font-family: "Fredoka One", cursive;
}

label {
  font-family: "Ubuntu", sans-serif;
}
