<div class="wrapper">
  <div class="row profile">
    <div class="row" *ngIf="deal.fields">
      <div class="col-sm-12 col-md-12 col-xs-12">
        <div class="row profile-header">
          <div class="col-xs-12 col-sm-8 col-md-8 hidden-xs">
            <div
              id="myProfileCarousel"
              class="carousel slide"
              data-ride="carousel"
            >
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <div
                    class="event-img-container"
                    class="col-xs-6 col-sm-6 col-md-6"
                  >
                    <img
                      class="responsive"
                      src="{{ deal.fields.images[0].fields.file.url }}"
                      alt=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4 hidden-xs">
            <p class="list-unstyled event-name-ul">
              <span
                ><h6>Price:</h6>
                {{ deal.fields.price }}</span
              >
            </p>
            <p class="list-unstyled event-name-ul">
              <span
                ><h6>Address:</h6>
                {{ deal.fields.address }}</span
              >
            </p>
            <p class="list-unstyled event-name-ul">
              <span
                ><h6>Bedrooms:</h6>
                {{ deal.fields.bedrooms }}</span
              >
            </p>
            <p class="list-unstyled event-name-ul">
              <span
                ><h6>Bathrooms:</h6>
                {{ deal.fields.bathrooms }}</span
              >
            </p>
            <p class="list-unstyled event-name-ul">
              <span
                ><h6>Square footage:</h6>
                {{ deal.fields.squareFootage }}</span
              >
            </p>
          </div>
        </div>

        <div class="row profile-content">
          <div class="col-xs-12 col-sm-12 col-md-12 profile-detail-div">
            <ul class="list-unstyled profile-detail-ul">
              <li class="biography">
                <h2 class="insights-header">Insights</h2>
                <markdown ngPreserveWhitespaces>{{
                  deal.fields.insights
                }}</markdown>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
