<section class="showcase">
  <div class="showcase-content">
    <h1>
      Learn Music Production from Top Industry Experts - Live and On-Demand
    </h1>
    <!-- <p>
      Volida provides you with live events in real time, so you never miss a
      show again.
    </p> -->
    <button class="btn btn-lg button" routerLink="/classes">
      Explore Classes
    </button>
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2" class="tab-item tab-border">
      <p>What is Pigaino?</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-top">
        <p class="text-lg">
          Pigaino is the ultimate destination for music producers. we offer live
          and on-demand courses from top industry experts, designed to help
          aspiring music producers improve their skills and achieve their goals.
          Here’s what you can expect from our platform
        </p>
      </div>
      <div class="tab-2-content-bottom">
        <div class="text-center">
          <h1>1</h1>
          <p class="text-md">Weekly Live Classes</p>
          <p class="bullet-points">
            Our platform offers weekly live classes with top industry experts
            where you can learn new skills and get direct feedback in real-time.
          </p>
        </div>

        <div class="text-center">
          <h1>2</h1>
          <p class="text-md">On-Demand Class Catalog</p>
          <p class="bullet-points">
            Access our extensive on-demand class catalog at any time and learn
            at your own pace. There's something for everyone.
          </p>
        </div>

        <div class="text-center">
          <h1>3</h1>
          <p class="text-md">Community Support</p>
          <p class="bullet-points">
            A community of music producers where you can collaborate, and get
            the feedback you need to grow as a music producer.
          </p>
        </div>
      </div>
      <button class="btn btn-block button" routerLink="/signup">
        Sign Up Now
      </button>
    </div>
  </div>
</section>
