<section class="showcase">
  <div class="showcase-content">
    <h1>Join the exclusive network for top-tier music producers.</h1>
    <p>Pigaino is a highly vetted membership community for music producers.</p>

    <div>
      <a href="https://r4ww33vnyxi.typeform.com/to/o1WlGaas" target="_blank">
        <button class="btn btn-lg button">Learn More</button>
      </a>
    </div>
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2" class="tab-item tab-border">
      <p>What is Pigaino?</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-top">
        <p class="text-lg">
          Pigaino is a highly vetted membership community exclusively designed
          for the most accomplished music producers. Here, you can connect with
          peers, engage in monthly meetings to collaboratively solve challenges,
          and enjoy access to various exclusive perks. As a producer, the
          journey can be isolating, but Pigaino's mission is to establish the
          most valuable and engaging community specifically tailored for
          top-tier producers.
        </p>
      </div>
      <div class="tab-2-content-bottom">
        <div class="text-center">
          <h1>1</h1>
          <p class="text-md">Monthly core groups</p>
          <p class="bullet-points">
            A group of 8 music producers with an executive facilitator, who
            leads discussions where advice and critical feedback is shared to
            help accelerate your business growth.
          </p>
        </div>

        <div class="text-center">
          <h1>2</h1>
          <p class="text-md">Digital community</p>
          <p class="bullet-points">
            Access to a digital and highly engaged community of music producers
            a dedicated digital concierge, and weekly newsletter.
          </p>
        </div>

        <div class="text-center">
          <h1>3</h1>
          <p class="text-md">In-person community</p>
          <p class="bullet-points">
            Our in person strategy is focused around 3 pillars, monthly members
            dinner, annual retreats and local adventures.
          </p>
        </div>
      </div>
      <a href="https://r4ww33vnyxi.typeform.com/to/o1WlGaas" target="_blank">
        <button class="btn btn-block button">Apply Now</button>
      </a>
    </div>
  </div>
</section>
