<section class="showcase">
  <div class="showcase-content">
    <h1>Join the exclusive network for top-tier real estate investors.</h1>
    <p>
      Pigaino is a highly vetted membership community for real estate investors.
    </p>

    <div>
      <a href="https://r4ww33vnyxi.typeform.com/to/o1WlGaas" target="_blank">
        <button class="btn btn-lg button">Learn More</button>
      </a>
    </div>
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2" class="tab-item tab-border">
      <p>What is Pigaino?</p>
    </div>
  </div>
</section>

<section class="tab-content">
  <div class="wrapper">
    <div id="tab-2-content" class="tab-content-item">
      <div class="tab-2-content-top">
        <p class="text-lg">
          Pigaino is a highly vetted membership community exclusively designed
          for the most accomplished real estate investors. Here, you gain access
          to high quality deal flow, connect with peers, engage in monthly
          meetings to collaboratively solve challenges, and enjoy access to
          various exclusive perks. As a real estate investors, the journey can
          be isolating, but Pigaino's mission is to establish the most valuable
          and engaging community specifically tailored for top-tier real estate
          investors.
        </p>
      </div>
      <div class="tab-2-content-bottom">
        <div class="text-center">
          <h1>1</h1>
          <p class="text-md">Access to Deal Flow</p>
          <p class="bullet-points">
            As you know as an investor it hard to get access to constant and
            good deal flow. Being a part of the community gives you access to
            constant high-quality investment opportunities.
          </p>
        </div>

        <div class="text-center">
          <h1>2</h1>
          <p class="text-md">Monthly core groups</p>
          <p class="bullet-points">
            A group of 8 real estate investors with an executive facilitator,
            who leads discussions where advice and critical feedback is shared
            to help accelerate your growth.
          </p>
        </div>

        <!-- <div class="text-center">
          <h1>3</h1>
          <p class="text-md">Speaker Series</p>
          <p class="bullet-points">
            It is important have access to the best and brightest. So, we host
            unique workshops and bring in hard to reach experts across a variety
            of topics.
          </p>
        </div> -->
      </div>
      <a href="https://r4ww33vnyxi.typeform.com/to/o1WlGaas" target="_blank">
        <button class="btn btn-block button">Apply Now</button>
      </a>
    </div>
  </div>
</section>
