<section class="showcase">
  <div class="showcase-content">
    <h1>Free Online Music Classes to Enhance Your Skills.</h1>
    <p>
      Take your musical skills to the next level with our free online classes.
      Learn from expert instructors covering a range of topics.
    </p>
  </div>
</section>

<section class="tabs">
  <div class="wrapper">
    <div id="tab-2">
      <p>Explore Free classes</p>
    </div>
  </div>
</section>

<div class="events">
  <div *ngFor="let content of contents">
    <div class="event" (click)="freeClassPage(content.sys.id)">
      <div class="event-thumb-container">
        <img
          src="{{ content.fields.image.fields.file.url }}"
          alt="thumbnail"
          class="event-thumbnail"
        />
      </div>
      <div class="event-description">
        <p class="event-name">{{ content.fields.classTitle }}</p>
        <p class="event-info">By {{ content.fields.classInstructor }}</p>
        <p class="event-info">{{ content.fields.shortDescription }}</p>
      </div>
    </div>
  </div>
</div>
