.subscription-card {
  background-color: var(--fourth-color);
  color: var(--first-color);
}

button {
  background-color: var(--second-color);
  border-radius: 30px;
  font-size: 1.1rem;
  border: none;
  color: var(--fourth-color);
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
}

.card-header {
  background-color: var(--fourth-color);
  color: var(--third-color);
}

.check-icon {
  color: var(--second-color);
}

h4 {
  font-size: 2rem;
  font-family: "Fredoka One", cursive;
}

p {
  font-size: 1rem;
  font-family: "Fredoka One", cursive;
}
